.box{
    width: 400px;
    height: 400px;
    background-color: rgb(191, 142, 237);
    border: 2px solid blueviolet;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: auto;*/

    transition: all 3s linear 1s;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    /*transform: rotate(45deg);*/
    /*transform: scale(3);*/
    /*transform: scale(0.5);*/
    /* transform: skew(-40deg); */
    /* transform: translate(200px); */
    transform: translate(150px, 150px);
}
p{
    font-size: 28px;
}
